html, body {
    font: 15px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #fcfcfc;
}

#name h2 {
	margin-left: 1px;
	margin-top: 6px;
	font-family: Optima, Arial, sans-serif; 
	font-size: 28px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
}
